@font-face {
	font-family: "Bio Sans";
	src: url("/fonts/BioSans-Regular.woff2") format("woff2"), url("/fonts/BioSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}