#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.step-container {
  padding: 100px;
}

body .warning {
  color: #d32f2f;
}

body .MuiToggleButton-root {
  text-transform: none;
}

body .MuiGrid-root.MuiGrid-container {
  width: 100%;
  margin-left: 0;
}

body .MuiGrid-root .MuiGrid-item {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
